$lineargreen: linear-gradient(90deg, rgba(36, 120, 110, 0.84) 0%, #2B8E82 50%, rgba(36, 119, 109, 0.84) 100%);   
$greenstroke: #2F696D;
$green: #236C63;
$smokeywhite: #C7C7C7;
$divider: #403F3F;
$black: #13050B;
$grey: #222222;
$greystroke: #424242;
$white: #FFFFFF;
$headerbg: rgba(47, 46, 46, 0.5);

