$h2-display-font: 'Philosopher', sans-serif;
$h2-display-font-size: 1.5em;
$h2-display-font-weight: 700;

$h3-display-font: 'Philosopher', sans-serif;
$h3-display-font-size: 1.125em;
$h3-display-font-weight: 700;

$h4-display-font: 'Philosopher', sans-serif;
$h4-display-font-size: 1em;
$h4-display-font-weight: 400;

$body-font: 'Montserrat', sans-serif;
$body-font-size: 0.875em;
$body-font-weight: 500;